﻿<h2>Danh Sách Danh Mục</h2>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCatalogueModal">Thêm</button>

<table id="catalogueTable" class="table">
    <thead>
        <tr>
            <th>Danh Mục ID</th>
            <th>Tên Danh Mục</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="catalogueList">
    </tbody>
</table>

@*Phân Trang*@
<nav>
    <ul class="pagination">
        <li id="prevPage" class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li id="currentPage" class="page-item"><a class="page-link" href="#"></a></li>
        <li id="lastPage" class="page-item"><a class="page-link" href="#"></a></li>
        <li id="nextPage" class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>

@*HỘP THOẠI BẬT LÊN KHI ẤN NÚT THÊM*@
<div class="modal fade" id="addCatalogueModal" tabindex="-1" role="dialog" aria-labelledby="addCatalogueModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCatalogueModalLabel">Thêm Danh Mục Sản Phẩm</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addCatalogueForm">
                    <div class="form-group">
                        <label for="catalogueName">Tên Danh Mục</label>
                        <input type="text" class="form-control" id="catalogueName" name="catalogueName" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="saveCatalogueBtn">Hoàn Thành</button>
            </div>
        </div>
    </div>
</div>

@*HỘP THOẠI BẬT LÊN KHI ẤN NÚT EDIT*@
<div class="modal fade" id="editCatalogueModal" tabindex="-1" role="dialog" aria-labelledby="editProductModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCatalogueModalLabel">Chỉnh sửa sản phẩm</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editCatalogueForm">
                    <div class="form-group">
                        <input type="hidden" id="editCatalogueID" name="ID" />
                        <label for="catalogueName">Tên Danh Mục</label>
                        <input type="text" class="form-control" id="editCatalogueName" name="catalogueName" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="saveEditCatalogueBtn">Hoàn Thành</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var pageNumber = 1;
        var pageSize = 10;

        function loadData() {
            $.ajax({
                url: '@Url.Action("GetListDanhMuc", "DanhMuc")',
                type: 'POST',
                data: { pageNumber: pageNumber, pageSize: pageSize },
                dataType: 'json',
                success: function (data) {
                    var tableBody = $('#catalogueTable tbody');
                    tableBody.empty();

                    $.each(data.listDanhMuc, function (index, value) {
                        var row = '<tr data-id="' + value.CatalogueID + '">' +
                            '<td>' + value.CatalogueID + '</td>' +
                            '<td>' + value.CatalogueName + '</td>' +
                            '<td>' + '<button id="editBtn" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#editCatalogueModal">Edit</button>' + " " +
                            '<button id="delBtn" class="btn btn-danger">Delete</button>' + '</td>' +
                            '</tr>';
                        tableBody.append(row);
                    });

                    var tongSoTrang = Math.ceil(data.tongSoDanhMuc / pageSize);
                    $('#currentPage .page-link').text(pageNumber);
                    $('#lastPage .page-link').text(tongSoTrang);

                    updateTrang(tongSoTrang);
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        loadData();

        //CAP NHAT PHAN TRANG
        function updateTrang(totalPages) {
            if (pageNumber === 1) {
                $('#prevPage').addClass('disabled');
            } else {
                $('#prevPage').removeClass('disabled');
            }

            if (pageNumber === totalPages) {
                $('#nextPage').addClass('disabled');
            } else {
                $('#nextPage').removeClass('disabled');
            }
        };

        $('#prevPage').click(function () {
            if (pageNumber > 1) {
                pageNumber--;
                loadData();
            }
        });

        $('#nextPage').click(function () {
            if (pageNumber < tongSoTrang) {
                pageNumber++;
                loadData();
            }
        });

        //THEM DANH MUC
        $('#saveCatalogueBtn').click(function () {
            var tenDanhMuc = $('#catalogueName').val();
            tenDanhMuc.trim();
            if (tenDanhMuc == "") {
                alert("Không được để trống tên danh mục");
                return;
            }
            $.ajax({
                url: '@Url.Action("TaoDanhMuc", "DanhMuc")',
                type: 'POST',
                dataType: 'json',
                data: { tenDanhMuc: tenDanhMuc },
                success: function (response) {
                    if (response.success == true) {
                        alert(response.message);
                        $('#addCatalogueModal').modal('hide'); // Đóng modal
                        $('.modal-backdrop').remove();
                        loadData(); // Cập nhật lại danh sách
                    } else {
                        alert(response.message);
                    }
                },
                error: function (errormessage) {
                    alert("Có lỗi xảy ra: " + errormessage.responseText);
                }
            });
        });

        //SUA DANH MUC
        $(document).on('click', '#editBtn', function () {
            var catalogueID = $(this).closest('tr').data('id');
            $.ajax({
                url: '@Url.Action("GetObjectById", "DanhMuc")',
                type: 'GET',
                data: { id: catalogueID },
                success: function (response) {
                    if (response.success) {
                        $('#editCatalogueID').val(response.danhMuc.CatalogueID);
                        $('#editCatalogueName').val(response.danhMuc.CatalogueName);
                        $('#editCatalogueModal').modal('show');// Hiển thị form chỉnh sửa
                    } else {
                        alert(response.message);
                    }
                }
            });
        });

        $('#saveEditCatalogueBtn').click(function () {
            var id = $('#editCatalogueID').val();
            var name = $('#editCatalogueName').val();
            $.ajax({
                url: '@Url.Action("SuaDanhMuc", "DanhMuc")',
                type: 'POST',
                data: { id: id,ten: name },
                success: function (response) {
                    alert(response.message);
                    $('#editCatalogueModal').modal('hide');
                    $('.modal-backdrop').remove();
                    loadData();
                },
                error: function (errormessage) {
                    alert("Có lỗi xảy ra: " + errormessage.responseText);
                }
            });
        });

        //XOA DANH MUC
        $(document).on('click', '#delBtn', function () {
            var catalogueID = $(this).closest('tr').data('id');
            if (confirm("Bạn có chắc muốn xóa danh mục này không?")) {
                $.ajax({
                    url: '@Url.Action("XoaDanhMuc", "DanhMuc")',
                    type: 'POST',
                    data: { id: catalogueID },
                    success: function (response) {
                        if (response.success) {
                            alert("Xóa thành công!");
                            loadData();
                        } else {
                            alert("Đã xảy ra lỗi: " + response.message);
                        }
                    },
                    error: function (errormessage) {
                        alert("Có lỗi xảy ra: " + errormessage.responseText);
                    }
                });
            }
        });
    });
</script>

